.cart__button {
  display: block;
  appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: center;
  outline: 0;
  cursor: pointer;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.cart__button:focus {
  outline: 2px solid #040404;
  outline-offset: 1px;
}

.cart__button--primary {
  color: #fff;
  background-color: #040404;
  padding: 1em;
}
