.products {
  margin-right: 24rem;
}

.cart {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 24rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  & > * {
    flex: 1;
  }
}
