.cart__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, .4);
  display: none;
}

.cart__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -480px;
  width: 480px;
  max-width: 100vw;
  color: #040404;
  background-color: #ffeb3b;
  transition: right .2s;
  overflow: hidden;
}

.cart--open {
  & .cart__overlay {
    display: block;
  }
  & .cart__container {
    right: 0;
  }
}

.cart--empty {
  & .cart__container {
    padding: 1em;
    justify-content: center;
    text-align: center;
  }
}

.cart__form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart__products {
  flex: 1 1 0%;
  overflow-y: auto;
}

.cart__summary {
  padding: 0 1em 1em;
  font-weight: bold;
  text-transform: uppercase;
  & .cart__button {
    margin-top: 1em;
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    opacity: .2;
    margin-bottom: 1em;
  }
}
