.cart--row { display: flex; flex-direction: row; }
.cart--col { display: flex; flex-direction: column; }

.cart--items-start    { align-items: flex-start; }
.cart--items-end      { align-items: flex-end; }
.cart--items-center   { align-items: center; }
.cart--items-baseline { align-items: baseline; }
.cart--items-stretch  { align-items: stretch; }

.cart--justify-start   { justify-content: flex-start; }
.cart--justify-end     { justify-content: flex-end; }
.cart--justify-center  { justify-content: center; }
.cart--justify-between { justify-content: space-between; }
.cart--justify-around  { justify-content: space-around; }

.cart--span1 { flex: 1; }
