.cart--a-anchor {
  display: block;
  cursor: pointer;
}

.cart--a-ul:hover,
.cart--a-anchor:hover .cart--a-ul {
  box-shadow: inset 0 -2px color-mod(var(--color) alpha(20%));
}

/*
&--anchor&--gray {
  color: color-mod(var(--color) alpha(20%));
  &:hover {
    color: color-mod(var(--color) alpha(80%));
  }
}
*/
