.cart__products {
  padding: 0 1em;
  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: .5em;
  }
  & .cart__product {
    padding: .5em 0;
  }
}

.cart__image {
  display: block;
  width: 5em;
  background-color: rgba(4, 4, 4, .2);
}

.cart__product {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-gap: .5em;
}

.cart__product__info {
  grid-column-end: span 4;
  grid-row-start: 2;
  width: 100%;
  & > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  & a {
    display: inline;
  }
}

.cart__product__price {
  grid-column-start: 4;
  text-align: right;
}

.cart__product__price__total {
  font-weight: bold;
}

.cart__product__price__unit {
  font-size: .875em;
  opacity: .5;
}

.cart__product__count {
  display: flex;
  flex-direction: row;
  grid-column-end: span 4;
  grid-row-start: 3;
}

.cart__product__count__increase,
.cart__product__count__decrease {
  display: block;
  width: 1em;
  text-align: center;
}

.cart__product__count__value {
  display: block;
  min-width: 1.5em;
  text-align: center;
}

.cart__product__remove {
  grid-column-start: 3;
  grid-row-start: 1;
  width: 1.5em;
  font-weight: bold;
}

@media (min-width: 480px) {

  .cart__product {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto auto;
    grid-template-rows: 1fr auto;
    grid-gap: .5em;
  }

  .cart__product__figure {
    grid-row-end: span 2;
  }

  .cart__product__info {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
  }

  .cart__product__price {
    grid-row-end: span 2;
  }

  .cart__product__count {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
  }

}
