.cart--p0125  { padding: calc(var(--unit) / 8); }
.cart--p025   { padding: calc(var(--unit) / 4); }
.cart--p05    { padding: calc(var(--unit) / 2); }
.cart--p1     { padding: var(--unit); }

.cart--pr0    { padding-right: 0; }

.cart--mr0125  { margin-right: calc(var(--unit) / 8); }
.cart--mr025   { margin-right: calc(var(--unit) / 4); }
.cart--mr05    { margin-right: calc(var(--unit) / 2); }
.cart--mr1     { margin-right: var(--unit); }
