.cart--al { text-align: left; }
.cart--ar { text-align: right; }
.cart--ac { text-align: center; }

.cart--bold { font-weight: bold; }

.cart--small { font-size: 0.75rem; } /* 12 */

.cart--lh { line-height: 1.25; } /* 20 */
