.button {
  appearance: none;
  display: block;
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  color: inherit;
  background-color: transparent;
  font: inherit;
  text-transform: inherit;
  text-align: center;
  outline: 0;
  cursor: pointer;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.button:focus {
  outline: 2px solid #040404;
  outline-offset: 1px;
}

.button svg {
  display: block;
  width: 1.5em;
  height: 1.5em;
}

.button__loader {
  display: none;
}

.button--primary {
  color: #fff;
  background-color: #040404;
  padding: 1em;
}

.button--loading {
  cursor: progress;
  & .button__label {
    visibility: hidden;
  }
  & .button__loader {
    display: block;
    position: absolute;
    left: calc(50% - 1.5rem / 2);
    top: calc(50% - 1.5rem / 2);
    width: 1.5em;
    height: 1.5em;
    border-width: 2px;
    border-style: solid;
    border-color: currentColor currentColor transparent transparent;
    border-radius: 100%;
    animation: rotate 0.5s linear infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
