.products {
  padding: 0 1em;
  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.5em;
  }
  & .product {
    padding: 0.5em 0;
  }
}

.image {
  display: block;
  width: 7em;
  background-color: rgba(4 4 4 / 20%);
}

.product {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 0.5em;
}

.product__figure {
  & a {
    display: block;
  }
}

.product__info {
  grid-column-end: span 3;
  grid-row-start: 2;
  width: 100%;
  & h1 {
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.product__variant {
  font-size: 0.875em;
  opacity: 0.6;
}

.product__price {
  grid-column-start: 3;
  text-align: right;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(2, min-content) auto;
}

.product__price__total {
  font-weight: 600;
}

.product__price__unit {
  font-size: 0.875em;
  opacity: 0.6;
  grid-column-end: span 2;
}

.product__actions {
  display: flex;
  flex-direction: row;
  grid-column-end: span 3;
  grid-row-start: 3;
}

.product__count {
  display: flex;
  flex-direction: row;
}

.product__count__increase,
.product__count__decrease {
  display: block;
  width: auto;
  text-align: center;
  background-color: rgba(4 4 4 / 10%);
  padding: 0.25em;
  &:hover {
    background-color: rgba(4 4 4 / 15%);
  }
  &:active {
    background-color: rgba(4 4 4 / 20%);
  }
}

.product__count__value {
  display: block;
  min-width: 2em;
  text-align: center;
  background-color: rgba(4 4 4 / 10%);
  padding: 0.25em 0;
}

@media (min-width: 480px) {
  .product {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    grid-template-rows: 1fr auto;
    grid-gap: 0.5em;
  }

  .product__figure {
    grid-row-end: span 2;
  }

  .product__info {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
  }

  .product__price {
    grid-column-start: 3;
    grid-row-end: span 2;
    white-space: nowrap;
  }

  .product__actions {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
  }
}
